@inherits LayoutComponentBase

<div class="page">
    <header class="top-navbar">
        <div class="navbar-brand">
            <a href="">Friendship App</a>
        </div>
        <nav class="navbar-nav">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                🏠 Home
            </NavLink>
            <NavLink class="nav-link" href="home">
                🔍 Discover
            </NavLink>
            <NavLink class="nav-link" href="#">
                💬 Messages
            </NavLink>
            <NavLink class="nav-link" href="#">
                🔔 Notifications
            </NavLink>
            <NavLink class="nav-link" href="#">
                👤 Profile
            </NavLink>
        </nav>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
